section(id="about").section.about
  h3.title.title__main.animation_item.stop_animation About
  h4.title.subtitle__main Education
  article.about__block
    .about__education
      .about__text
        for i in education
          p.paragraph.paragraph__main.about__paragraph= i
      img(src=profile.img).about__image.animation_item.stop_animation
    .about__experience
      h4.title.subtitle__main Experience
      p.paragraph.paragraph__main.about__paragraph= profile.text
      div.about__date
        for i in experience
          article.about__company.animation_item.stop_animation
            h3.title.subtitle__main.about__subtitle= i.date 
            p.paragraph.paragraph__main.about__paragraph= i.company